---
import MainLayout from "@/layouts/MainLayout.astro";
import type { GetStaticPaths } from "astro";

export const getStaticPaths = (() => {
  return [...Array(25)].flatMap((_, i) => {
    const day = i + 1;
    return ["AOC", "Svelte", "Typescript"].map((t) => ({
      params: {
        type: t,
        day,
      },
    }));
  });
}) satisfies GetStaticPaths;

const colorMap = {
  AOC: "text-yellow-500",
  Svelte: "text-orange-500",
  Typescript: "text-blue-500",
};

const { type, day } = Astro.params as {
  type: keyof typeof colorMap;
  day: number;
};
---

<MainLayout>
  <h2 class="font-christmas text-5xl font-bold text-center">
    <a href={`/day/${day}`} class="hover:underline hover:opacity-75">
      Day {day}</a
    >
     - <span class={colorMap[type]}>{type}</span>
  </h2>

  <div class="container mx-auto">hey</div>
</MainLayout>
