---
import MainLayout from "@/layouts/MainLayout.astro";
import type { GetStaticPaths } from "astro";

export const getStaticPaths = (() => {
  return [...Array(25)].map((_, i) => ({
    params: {
      day: `${i + 1}`,
    },
  }));
}) satisfies GetStaticPaths;

const { day } = Astro.params;
---

<MainLayout>
  <h2 class="font-christmas text-5xl font-bold text-center">Day {day}</h2>

  <div class="flex items-center justify-center gap-16">
    <a
      href={`/day/${day}/AOC`}
      class="text-4xl mbs-32 font-christmas text-yellow-500">AOC</a
    >
    <a
      href={`/day/${day}/Svelte`}
      class="text-4xl mbs-32 font-christmas text-orange-500">Svelte</a
    >
    <a
      href={`/day/${day}/Typescript`}
      class="text-4xl mbs-32 font-christmas text-blue-500">Typescript</a
    >
  </div>
</MainLayout>
