---
import "@fontsource/mountains-of-christmas/400.css";
import "@fontsource/mountains-of-christmas/700.css";

import MOC400 from "@fontsource/mountains-of-christmas/files/mountains-of-christmas-latin-400-normal.woff2";
import MOC700 from "@fontsource/mountains-of-christmas/files/mountains-of-christmas-latin-700-normal.woff2";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Thomas Coding Advent - 2023</title>

    <link rel="preload" as="font" href={MOC400} type="font/woff2" />
    <link rel="preload" as="font" href={MOC700} type="font/woff2" />
  </head>
  <body class="text-gray-0 bg-#0C1621 min-h-screen relative">
    <div class="overflow-hidden w-full">
      <a href="/">
        <h1
          class="text-4xl font-bold font-christmas flex flex-col gap-20
    w-[fit-content] mx-auto text-center relative mbs-32"
        >
          <span class="text-2.75rem text-green-3">Thomas's</span>
          <span class="capitalize text-5xl text-red-5">ADVENT OF CODE</span>

          <div
            class="i-uil-snowflake absolute top-1/2 -left-128 -translate-y-1/2 text-6xl text-white"
            aria-hidden
          >
          </div>

          <div
            class="i-uil-snowflake absolute top-1/2 -right-128 -translate-y-1/2 text-6xl text-white"
            aria-hidden
          >
          </div>
        </h1>
      </a>
    </div>
    <div class="p-32">
      <slot />
    </div>
  </body>
</html>

<style is:global>
  @import "../styles/global.css";
  @import "../styles/colors.css";

  * {
    font-display: block;
  }
</style>
